<strong>Recuperando senha</strong>

<p> Uma solicitação de recuperação de seha foi enviada para o e-mail ({{email}}).
  Se você não foi o autor da solicitação, altere a sua senha.</p>

  <p>Para continuar com a recuperação, utilize o token {{token}} ou clique no link abaixo.</p>

  <a href="{{link}}"> Criar nova senha </a>
